# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
env/
venv/

# Ignore the system files created by macOS or Windows
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment-specific files
.env
